<ul>
    <li>puerto: {{this.info.app.PORT}}</li>
    <li>client url: {{this.info.app.CLIENT_URL}}</li>
    <li>api url: {{this.info.app.API_URL}}</li>
    <li>base de datos url: {{this.info.mongo.MONGO_URL}}</li>
    <li>jwt secret: {{this.info.jwt.SECRET}}</li>
    <li>jwt cookie: {{this.info.jwt.COOKIE}}</li>
    <li>google client: {{this.info.google.CLIENT_ID}}</li>
    <li>google secret: {{this.info.google.CLIENT_SECRET}}</li>
    <li>google app pass: {{this.info.google.PASS_NODEMAILER}}</li>
    <li>LA SESIÓN ESPIRA A LOS 300s  </li>
    <li>NOTA IMPORTANTE: SE ENVIARÁN LOS CORREOS DE NOTIFICACIÓN AL MISMO USUARIO QUE SE LOGUEA -SOLO CON FINES DE MUESTRA - ASÍ QUE SE DEBE INGRESAR UN CORREO VÁLIDO  </li>



</ul>
 